<h1>Edit <%= @task.title %> Task</h1>

<%= form_with model: @task do |form| %>>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :details %>
  <%= form.text_field :details %>
  <%= form.label :complete? %>
  <%= form.check_box :complete %>
  <%= form.submit %>
<% end %>
